<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="Ainstance"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="ainstance.AinstanceMatcherFactory$Provider"
            id="Ainstance">
      </matcher>
   </extension>

</plugin>
